source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/dotnet-websharper/index.json

framework: netstandard2, net9.0

strategy: min
storage: none

nuget WebSharper 10.0.0.581-beta1
nuget WebSharper.FSharp 10.0.0.581-beta1
nuget WebSharper.UI 10.0.0.581-beta1
nuget WebSharper.AspNetCore 10.0.0.581-beta1

group wsbuild
    git https://github.com/dotnet-websharper/build-script websharper80
