<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.5.2-beta2" targetFramework="net452" />
  <package id="Zafir" version="4.0.171.72-beta7" targetFramework="net452" />
  <package id="Zafir.FSharp" version="4.0.171.72-beta7" targetFramework="net452" />
  <package id="Zafir.UI.Next" version="4.0.154.60-beta7" targetFramework="net452" />
</packages>